Notes:
- Descriptive elements of Base Year for vertical staging
- Compare with VERSPM pop variant (to do one poupulation synthesis run)

# Scenario description
Scenario    : VERSPM RVMPO Base Year only
Description : Base Year Scenario (2010)
BaseYear    : 2010
Years       : [ 2010 ]
