Notes:
- VisionEval.cnf for VERSPM with "vertical" years
- Each year runs as a separate stage; StartFrom stage-year-2030 with
  different inputs to create additional scenarios.
- Model Structural Parameters: ScriptsDir, InputDir, Seed
- Model Description: Model, Region, State, ModelStages
- See individual ModelStages for scenario descriptions

# Model Structural Parameters
ScriptsDir  : scripts
InputDir    : inputs
Seed        : 1

# Model description
Model       : VERSPM 3.0 ("Vertical" stages/Years)
Region      : RVMPO
State       : OR
ModelStages :
    "stage-year-2010":
      Dir: stage-year-2010
      Reportable: true
    "stage-year-2038":
      Dir: stage-year-2038
      Reportable: true
