Notes:
- Descriptive elements of Future Year stage for vertical staging
- Stamp out additional future years by copying this scenario
- Future year StartFrom is base year (needs some computed parameters)
- Change the input files in the cloned stage to reflect a different future
- Could also change the "StartFrom" to an earlier future year, rather
  than using the base year - that puts the earlier year on the input
  path, so all you need to include in the variant future year are the
  input files that differ (any that are the same can just stay in the
  original future year stage).
- See the scenario implementation examples

# Scenario description
Scenario    : VERSPM RVMPO Future Year
Description : Future Year Scenario (2038)
BaseYear    : 2010
Years       : [ 2038 ]

StartFrom   : stage-year-2010

