Notes:
- VE-State Stage e (Carbon Intensity/Powertrains for Base & Future Year)
- Model Script varies by stage
- Years, BaseYear set for the model
- Scenario Description: ModelScript, Scenario, Description, StartFrom

# Scenario description
ModelScript    : run_stage_3.R
Scenario       : VE-State Stage 3
Description    : Carbon Intensity/Powertrains for Base (2010) and Future (2038)
StartFrom      : Stage-2
