# Stage configuration

# Scenario description
ModelScript    : run_stage_4.R
Scenario       : VE-State Stage 4
Description    : Cost Feedback Loop for Base (2010) and Future (2038)
StartFrom      : Stage-3
