Notes:
- Descriptive elements of Base Year stage

# Scenario description
ModelScript : run_scenario.R
Scenario    : VERSPM RVMPO Base Year
Description : Base Year Build (using pre-built population)
BaseYear    : 2010
Years       : [ 2010 ]
StartFrom   : stage-pop-synth
