# VisionEval.cnf for VERSPM with "horizontal" population synthesis stage

# Model description
Model       : VERSPM 3.0 ("Horizontal" stages)
Region      : RVMPO
State       : OR

# Model Structural Parameters
ModelStages : # specify explicitly to avoid processing base scenario
    "stage-pop-synth":
      Dir: stage-pop-synth
      Reportable: false
    "stage-pop-base":
      Dir: stage-pop-base
      Reportable: true
    "stage-pop-future":
      Dir: stage-pop-future
      Reportable: true
ScriptsDir  : scripts
InputDir    : inputs # model_parameters.json is located here
    # Full set of model inputs is included in model base directory
    # InputPath in stages will look there first
    # Stages include just the minimal input data they need to run
ParamDir    : defs # default parameter location

# Same seed used for all scenarios
Seed        : 1
